@use 'variables';
@use 'mixins' as *;

// Main styles entry point
@use 'base';
@use 'components/layout';
@use 'components/sidebar';
@use 'components/topbar';
@use 'components/button';
@use 'components/card';
@use 'components/console';
@use 'components/badge';
@use 'components/table';
@use 'components/directory-picker';
@use 'components/select';
@use 'components/form';
@use 'components/range';
@use 'components/installation-progress';
@use 'components/tabs';
@use 'components/server-list';


// Pages
@use 'pages/login';
@use 'pages/dashboard';
@use 'pages/settings';
@use 'pages/user-settings';
@use 'pages/servers';
@use 'pages/setup';
@use 'pages/users';
@use 'pages/server-detail';
@use 'pages/create-server';
@use 'pages/edit-user';